section{
    background: url(../../../assets/img-yibei-geng.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    
     
}

.container {
    padding: 3rem;
}

h1{
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #af2ccf;
}

/*
img{
   padding: 10px;
    height:150px;
    width:150px;
    border-radius: 50%;
    
}*/

/*
@media screen and (max-width: 767px){
    .imagen{
    display: none;
    }
}

.progress-bar {
    font-size: 12px;
    color: white;
    text-shadow: 1px 0px #af2ccf;
}*/

img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 5px;
    transition: all .5s ease;
}

.overlay{
    position: absolute;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: all .5s ease;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo{
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.thumbnail:hover{
    transform: translate(-4px);
    border-radius: 100%;
    transition: .5s ease;
}

.img-container:hover .overlay {
  opacity: 1;  
  transition: .5s ease;


}

.overlay p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px #af2ccf;
}



.img-container:hover img{
    opacity: 0.10;

}
