<!--<section class="skills">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Hard Skills
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  
 <circle-progress
 [percent]="85"
 [radius]="100"
 [imageSrc]="'/assets/img-1.jpg'" 
 [showImage]="true"
 [imageHeight]="50"
 [imageWidth]="50"
 [title]="'HTML5'"
 [titleColor]="'white'"
 [showUnits]="false"
 [titleFontSize]="'20'"
 [showSubtitle]="false"
 [outerStrokeWidth]="12"
 [innerStrokeWidth]="2"
 [outerStrokeGradient] = true
 [outerStrokeColor]="'#8057cb'"
 [outerStrokeGradientStopColor] ="'#52fcff'"
 [innerStrokeColor]="'#e7e8ea'"
 [animation]="true"
 [animationDuration]="2000"
></circle-progress> 
<circle-progress
[percent]="85"
[radius]="100"
[imageSrc]="'/assets/img-1.jpg'" 
[showImage]="true"
[imageHeight]="50"
[imageWidth]="50"
[title]="'HTML5'"
[titleColor]="'white'"
[showUnits]="false"
[titleFontSize]="'20'"
[showSubtitle]="false"
[outerStrokeWidth]="12"
[innerStrokeWidth]="2"
[outerStrokeGradient] = true
[outerStrokeColor]="'#8057cb'"
[outerStrokeGradientStopColor] ="'#52fcff'"
[innerStrokeColor]="'#e7e8ea'"
[animation]="true"
[animationDuration]="2000"
></circle-progress> 
<circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'/assets/img-1.jpg'" 
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [title]="'HTML5'"
  [titleColor]="'white'"
  [showUnits]="false"
  [titleFontSize]="'20'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeGradient] = true
  [outerStrokeColor]="'#8057cb'"
  [outerStrokeGradientStopColor] ="'#52fcff'"
  [innerStrokeColor]="'#e7e8ea'"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress> 
<circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'/assets/img-1.jpg'" 
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [title]="'HTML5'"
  [titleColor]="'white'"
  [showUnits]="false"
  [titleFontSize]="'20'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeGradient] = true
  [outerStrokeColor]="'#8057cb'"
  [outerStrokeGradientStopColor] ="'#52fcff'"
  [innerStrokeColor]="'#e7e8ea'"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress> 
<circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'/assets/img-1.jpg'" 
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [title]="'HTML5'"
  [titleColor]="'white'"
  [showUnits]="false"
  [titleFontSize]="'20'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeGradient] = true
  [outerStrokeColor]="'#8057cb'"
  [outerStrokeGradientStopColor] ="'#52fcff'"
  [innerStrokeColor]="'#e7e8ea'"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress> 
<circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'/assets/img-1.jpg'" 
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [title]="'HTML5'"
  [titleColor]="'white'"
  [showUnits]="false"
  [titleFontSize]="'20'"
  [showSubtitle]="false"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeGradient] = true
  [outerStrokeColor]="'#8057cb'"
  [outerStrokeGradientStopColor] ="'#52fcff'"
  [innerStrokeColor]="'#e7e8ea'"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Soft Skills
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <circle-progress
                           [percent]="85"
                           [radius]="100"
                           [imageSrc]="'/assets/img-1.jpg'" 
                           [showImage]="true"
                           [imageHeight]="50"
                           [imageWidth]="50"
                           [title]="'HTML5'"
                           [titleColor]="'white'"
                           [showUnits]="false"
                           [titleFontSize]="'20'"
                           [showSubtitle]="false"
                           [outerStrokeWidth]="12"
                           [innerStrokeWidth]="2"
                           [outerStrokeGradient] = true
                           [outerStrokeColor]="'#8057cb'"
                           [outerStrokeGradientStopColor] ="'#52fcff'"
                           [innerStrokeColor]="'#e7e8ea'"
                           [animation]="true"
                           [animationDuration]="2000"
                        ></circle-progress> 
                        <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [imageSrc]="'/assets/img-1.jpg'" 
                        [showImage]="true"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [title]="'HTML5'"
                        [titleColor]="'white'"
                        [showUnits]="false"
                        [titleFontSize]="'20'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="2"
                        [outerStrokeGradient] = true
                        [outerStrokeColor]="'#8057cb'"
                        [outerStrokeGradientStopColor] ="'#52fcff'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="2000"
                     ></circle-progress> 
                     <circle-progress
                            [percent]="85"
                            [radius]="100"
                            [imageSrc]="'/assets/img-1.jpg'" 
                            [showImage]="true"
                            [imageHeight]="50"
                            [imageWidth]="50"
                            [title]="'HTML5'"
                            [titleColor]="'white'"
                            [showUnits]="false"
                            [titleFontSize]="'20'"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="12"
                            [innerStrokeWidth]="2"
                            [outerStrokeGradient] = true
                            [outerStrokeColor]="'#8057cb'"
                            [outerStrokeGradientStopColor] ="'#52fcff'"
                            [innerStrokeColor]="'#e7e8ea'"
                            [animation]="true"
                            [animationDuration]="2000"
                         ></circle-progress> 
                         <circle-progress
                            [percent]="85"
                            [radius]="100"
                            [imageSrc]="'/assets/img-1.jpg'" 
                            [showImage]="true"
                            [imageHeight]="50"
                            [imageWidth]="50"
                            [title]="'HTML5'"
                            [titleColor]="'white'"
                            [showUnits]="false"
                            [titleFontSize]="'20'"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="12"
                            [innerStrokeWidth]="2"
                            [outerStrokeGradient] = true
                            [outerStrokeColor]="'#8057cb'"
                            [outerStrokeGradientStopColor] ="'#52fcff'"
                            [innerStrokeColor]="'#e7e8ea'"
                            [animation]="true"
                            [animationDuration]="2000"
                         ></circle-progress> 
                         <circle-progress
                            [percent]="85"
                            [radius]="100"
                            [imageSrc]="'/assets/img-1.jpg'" 
                            [showImage]="true"
                            [imageHeight]="50"
                            [imageWidth]="50"
                            [title]="'HTML5'"
                            [titleColor]="'white'"
                            [showUnits]="false"
                            [titleFontSize]="'20'"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="12"
                            [innerStrokeWidth]="2"
                            [outerStrokeGradient] = true
                            [outerStrokeColor]="'#8057cb'"
                            [outerStrokeGradientStopColor] ="'#52fcff'"
                            [innerStrokeColor]="'#e7e8ea'"
                            [animation]="true"
                            [animationDuration]="2000"
                         ></circle-progress> 
                         <circle-progress
                            [percent]="85"
                            [radius]="100"
                            [imageSrc]="'/assets/img-1.jpg'" 
                            [showImage]="true"
                            [imageHeight]="50"
                            [imageWidth]="50"
                            [title]="'HTML5'"
                            [titleColor]="'white'"
                            [showUnits]="false"
                            [titleFontSize]="'20'"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="12"
                            [innerStrokeWidth]="2"
                            [outerStrokeGradient] = true
                            [outerStrokeColor]="'#8057cb'"
                            [outerStrokeGradientStopColor] ="'#52fcff'"
                            [innerStrokeColor]="'#e7e8ea'"
                            [animation]="true"
                            [animationDuration]="2000"
                         ></circle-progress> 
           
 
                </div>
              </div>
            </div>
        
              </div>
            </div>
          

    
    

</section>
-->