<section id="skills">
  <div class="container">
    <h1>HABILIDADES</h1>
    <div class="row">

      <div class="col-lg-2 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-1.jpg" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>


      <div class="col-lg-2 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/logo-css.png" alt="logo CSS">
            <div class="overlay">
              <p class="titulo">CSS</p>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-2 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/js-img.png" alt="logo JavaScript">
            <div class="overlay">
              <p class="titulo">JavaScript</p>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-2 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-b.png" alt="logo Bootstrap">
            <div class="overlay">
              <p class="titulo">Bootstrap</p>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-2 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/java-logo.jpg" alt="logo JAVA">
            <div class="overlay">
              <p class="titulo">JAVA</p>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-2 col-sm-6">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/logo-2.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>

      <!--Soft Skills-->
      

      <div class="col-lg-2 col-sm-6 col-xs-4">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-11.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-2 col-sm-6 col-xs-4">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-6.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-2 col-sm-6 col-xs-4">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-3.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-2 col-sm-6 col-xs-4">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-10.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-2 col-sm-6 col-xs-4">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-9.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-2 col-sm-6 col-xs-4">
        <div class="thumbnail">
          <div class="img-container">
            <img src="../../../assets/img-2.png" alt="logo HTML5">
            <div class="overlay">
              <p class="titulo">HTML5</p>
            </div>

          </div>
        </div>

      </div>

   

    
  
  
  </div>
  </div>
</section>