section{
    background: url(../../../assets/img-yibei-geng.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    
     
}
/*
circle-progress{
    padding: 10px 30px 30px 10px;
   position: relative;
   align-items: center;
  */

h1{
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #af2ccf;
}

.accordion{
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 25%;
   
   
}

h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #af2ccf;

}

h3{
 
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #af2ccf;
}

.soft-s{
    margin-top: 80px;

}

img{
    margin: 60px;
    margin-top: -90px;
    height:300px;
    width:300px;
    border-radius: 50%;
    
}

@media screen and (max-width: 767px){
    .imagen{
    display: none;
    }
}

