<section id="proyectos">
<div class="proyectos d-flex flex-column">
    <h1> MIS PROYECTOS</h1>
    <h2>Estos proyectos se encuentran en proceso de desarrollo c:</h2>
    <!--Proyectos-->
    <div class="container text-center proyectos-contenedor">
       <div class="row">
        <!--Proyecto 1-->
        <div class="col-12 col-md-6 col-lg-4">
            <h3>Proyecto N°1<br> en desarollo...</h3>
            <div class="proyecto">
            <img class="img-fluid" src="../../../assets/img-undraw1.png" alt="Proyecto-1">
            <div class="overlay">
            
        <p class="text-white"> Proyecto 1</p>
        <div class="iconos">
            <a href="https://github.com/" target="_blank" rel="nooperer noreferrer">
                <i class="bi bi-github"></i>
            </a>
            <a href="" target="_blank" rel="nooperer noreferrer">
                <i class="bi bi-broadcast"></i>
            </a>


        </div>
    </div>
        
    </div> 
    </div>
    <!--Proyecto 2-->
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Portafolio - Argentina Programa <br> (oct 2022/may 2023)</h3>
        <div class="proyecto">
        <img class="img-fluid" src="../../../assets/Portafolio1.png" alt="Proyecto-1">
        <div class="overlay">
        
    <p class="text-white"> Portafolio | YoProgramo</p>
    <div class="iconos">
        <a href="https://github.com/Shir07/Mi_Portafolio.git" target="_blank" rel="nooperer noreferrer">
            <i class="bi bi-github"></i>
        </a>
        <a href="" target="_blank" rel="nooperer noreferrer">
            <i class="bi bi-broadcast"></i>
        </a>
        


    </div>
</div>
    
</div> 
</div>
   <!--Proyecto 3-->
   <div class="col-12 col-md-6 col-lg-4">
    <h3>Proyecto N°3<br> en desarollo...</h3>
    <div class="proyecto">
    <img class="img-fluid" src="../../../assets/img-undraw2.png" alt="Proyecto-1">
    <div class="overlay">
    
     <p class="text-white"> Proyecto 3</p>
      <div class="iconos">
       <a href="https://github.com/" target="_blank" rel="nooperer noreferrer">
         <i class="bi bi-github"></i>
       </a>
       <a href="" target="_blank" rel="nooperer noreferrer">
         <i class="bi bi-broadcast"></i>
    </a>


</div>
</div>

</div> 
</div>
    </div> 
        
    </div>
</div>
</section>
