/*banner y menu*/
.header {
    background: url(../../../assets/banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: transparent !important;
    
  }
#boton{
    border: 2px solid #ffffff ;
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    
}
#boton:hover{
  text-shadow: 1px 1px #6e0909be;
  transition: .5s;
  box-shadow: 0 0 1em 0.25em #c858e496;


}
#boton{
  text-shadow: 1px -1px #7a2be1;

}

/*Responsivo*/

@media screen and (max-width: 767px){
    .navbar-brand{
    display: none;
    }
}
