<header class="header">
<nav class="navbar navbar-expand-md bg-primary text-white">
  <div class="container-fluid">
      <a href="#" class="navbar-brand text-white"><img src="../../../assets/APLogo.png" width="100" alt="Logo Argentina Programa"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav m-auto">
              <a href="#" class="nav-item nav-link text-white"><img src="../../../assets/linkedin.png" width="30" alt="linkedin"></a>
              <a href="#" class="nav-item nav-link text-white"><img src="../../../assets/github.png" width="30" alt="git"></a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Contenido</a>
                  <div class="dropdown-menu   dropdown-menu-dark bg-transparent ">
                      <a href="#" class="dropdown-item ">Acerca de mí</a>
                      <a href="#" class="dropdown-item">Experiencia laboral</a>
                      <a href="#" class="dropdown-item">Educación</a>
                      <a href="#" class="dropdown-item">Hard & Soft Skills</a>
                      <a href="#" class="dropdown-item">Mis proyectos</a>
                      <li><hr class="dropdown-divider"></li>
                      <a class="dropdown-item" href="#">Contacto</a>
                  </div>
              </div>
              <a href="#" class="nav-item nav-link text-white" tabindex="-1">Reports</a>
          </div>
          <div class="navbar-nav ms-auto">
              <a href="#" class="nav-item nav-link text-white">Login</a>
          </div>
      </div>
  </div>
</nav>
</header>