/*banner y menu*/
.header {
    background: url(../../../assets/banner-mikhail-tyrsyna-unsplash.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: transparent !important;
    
  }
/*Responsivo*/

@media screen and (max-width: 767px){
    .navbar-brand{
    display: none;
    }
}