<header id="inicio" class="header"> 
<nav class="navbar navbar-expand-md bg-primary text-white ">
  <div class="container-fluid">
      <a href="#" class="navbar-brand text-white"><img src="../../../assets/APLogo.png" width="100" alt="Logo Argentina Programa"></a>
      <button type="button" class="navbar-toggler  bg-black " data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarCollapse">
          <div class="navbar-nav m-auto">
              <a href="https://www.linkedin.com/in/priscila-shirley-ohannecian" class="nav-item nav-link text-white"><img src="../../../assets/linkedin.png" width="30" alt="linkedin"></a>
              <a href="https://github.com/Shir07" class="nav-item nav-link text-white"><img src="../../../assets/github.png" width="30" alt="git"></a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Contenido</a>
                  <div class="dropdown-menu   dropdown-menu-dark bg-transparent ">
                      <a href="#acercade" class="dropdown-item ">Acerca de mí</a>
                      <a href="#experiencia" class="dropdown-item">Experiencia laboral</a>
                      <a href="#educacion" class="dropdown-item">Educación</a>
                      <a href="#skills" class="dropdown-item">Hard & Soft Skills</a>
                      <a href="#proyectos" class="dropdown-item">Mis proyectos</a>
                      <li><hr class="dropdown-divider"></li>
                      <a class="dropdown-item" href="#footer">Contacto</a>
                  </div>
              </div>

          </div>
          <div class="navbar-nav md-auto">
              <a href="/login" class="nav-item nav-link btn btn-outline text-white" id="boton">INGRESO</a>
          </div>
      </div>
  </div>

</nav>
<app-hero-home></app-hero-home>
<script src="script.js"></script>
</header>
