/*banner y menu*/
.header {
    background: url(../../../assets/banner-mikhail-tyrsyna-unsplash.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: transparent !important;
    
  }
#boton{
    border: 2px solid #EA358F ;
    color: white;
    padding: 5px 30px;
}

/*Responsivo*/

@media screen and (max-width: 767px){
    .navbar-brand{
    display: none;
    }
}
