<section class="educacion">
  <div class="ed-2">
    <div class="container">
      <div class="row">
      <h2>EDUCACIÓN</h2>
        <div class="col-lg-6 mt-4">
          <div class="grilla d-flex aling-items-start">
            <div class="ed-pic">
              <img src="../../../assets/unab.jpg" class="img-fluid" alt="Logo Universidad Nacional Guillermo Brown">
            </div>
            <div class="informacion">
              <h4>Tecnicatura en Programación</h4>
              <span>Universidad Nacional Guillermo Brown</span>
              <p>Marzo 2022 - En curso</p>
           
            <div class="boton">
             <a href="#" >UNAB</a> 

            </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class=" grilla d-flex aling-items-start">
            <div class="ed-pic">
              <img src="../../../assets/APLogo.png" class="img-fluid bg-black" alt="Logo Argentina Programa">
            </div>
            <div class="informacion">
              <h4>#SéProgramar</h4>
              <span>Argentina Programa - Primera Etapa</span>
              <p>Finalizado 2022</p>
           
            <div class="boton">
             <a href="#" >Certificado</a> 
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="grilla d-flex aling-items-start">
            <div class="ed-pic">
              <img src="../../../assets/ED_IT.jpg" class="img-fluid" alt="Logo Educación IT">
            </div>
            <div class="informacion">
              <h4>Fundamentos HTML5</h4>
              <span>Educación IT</span>
              <p>Finalizado 2022 </p>
           
            <div class="boton">
             <a href="#" >Certificado</a> 

            </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="grilla d-flex aling-items-start">
            <div class="ed-pic">
              <img src="../../../assets/BA.jpg" class="img-fluid" alt="Logo BA Joven">
            </div>
            <div class="informacion">
              <h3>Comercio Electrónico y Marketing Digital</h3>
              <span>Digitalizate</span>
              <p>Finalizado</p>
          
            <div class="boton">
             <a href="#">Certificado</a> 

            </div>
            </div>

          </div>
        </div>


      </div>


    </div>
    </div>
  </section>