<footer id="footer" class="d-flex flex-column aling-items-center justify-content-center">
    <div class="footer-icono d-flex  justify-content-center">
        <a href="#inicio">
            <i class="bi bi-chevron-up"></i>
        </a> </div>
        <p class="footer-texto text-center text-white">Gracias por visitar mi portafolio c:</p>
        
        <div class="contacto aling-items-center justify-content-center d-flex">
                <button type="button"> <a href="mailto:priscila.ohannecian7@gmail.com">Contacto <i class="bi bi-envelope"></i>
                </a>
            </button>
        </div>
        <div class="derechos-de-autor d-flex  justify-content-center">Priscila Ohannecian | Argentina Programa (2023) &#169;</div>
</footer>
