<div class="containerPrincipal">
<div class="form-floating mb-3 col-3 ">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Usuario</label>
  </div>
  <div class="form-floating col-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
    <a class="id btn btn-outline-dark"  href="#" onclick="login()">Login</a>
  </div>
</div>