
<section class="about aling-items-strech">
    <div class="about-principal">
<img class="img-fluid" src="../../../assets/fotoperfil.jpg"   alt="Foto de Priscila Ohannecian">
<h1>Soy Priscila Ohannecian</h1>
<h3>Full Stack Developer Jr</h3>
<h2>Actualmente me encuentro estudiando la Tecnicatura en Programación en la Universidad Nacional Guillermo Brown<br> y cursando la segunda etapa de Argentina Programa #YoProgramo.<br> Poseo experiencia en atención al cliente de manera presencial y remota.<br> Me caracterizo por ser una persona muy dinámica, comprometida con mis responsabilidades, muy capaz y apta para trabajar en equipo. <br>Sé adaptarme a cualquier situación o rol que tenga que desempeñar.</h2>
</div>
<div class="boton">
    <a href=""><b>Descargar CV</b></a>
</div>
</section>
