/*Estilo del texto*/

.text-box{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: white;
}
.type{
    color: white; 
   display: inline-block;
    font-size: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 31ch;
    
  
    
    animation: typing 2s steps(31),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent}
}



.text-box h1{
    font-size: 30px;
    line-height: 40px;
}
.text-box h2{
    font-size: 40px;
    line-height: 40px;
}


    

.text-box a{
    margin-top: 50px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #EA358F ;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    transition: .5s;

}

a:hover{
    background-color: rgb(108, 117, 125);
}

span{
    color:#ee3a5f;
    
}




