/*Estilo del texto*/

.text-box{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 26px;
    color: white;
}


.text-box h1{
    font-size: 40px;
    line-height: 40px;
    text-shadow: 1px 1px #c758e4;

    

    
}
.text-box h2{
    font-size: 40px;
    line-height: 40px;
    text-shadow: 1px 1px #c758e4;

}
h3{
    text-shadow: 1px 1px #c758e4;

}

    

.text-box a{
    margin-top: 15px;
    display: inline-block;
    border-radius: 60px;
    border: 2px solid rgba(255, 255, 255, 0.637) ;
    color: rgb(255, 114, 248);
    padding: 10px 30px;
    text-decoration: none;
    transition: .5s;
 
    

}

a:hover{
  
    text-shadow: 1px 2px #4e1e5a;
    box-shadow: 0 0 1em 0.25em #933ea8;
    


}
a{
    text-shadow: 2px 2px #000000;
    position: relative;
    
    font-size: 20px;
 
}

.text-1{
    color:rgb(0, 0, 0);
   
    text-shadow: -1px 2px #c758e4;

    
    
}
/*
El h3 tenia un span con una animación de tipado pero no lograba
que quede responsive. Decidí dejarlo así por el momento
.type{
    color: white; 
   display: inline-block;
    font-size: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 33ch;
    text-shadow: 1px 1px #c758e4;}
    
  
    
   /* animation: typing 5s  steps(33) ,
    blink .5s infinite step-end alternate;
    overflow: hidden;
    
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent}
}

/*@media (max-width:700px) and (min-width:500px){
    .type{
        font-size: 12px;
    }
}*/




