<div class="container">
    <div class="text-box ">
        <h1> ¡Hola! Bienvenid@ a mi portafolio.</h1>
        <h2>Mi nombre es <span>Priscila Ohannecian</span></h2>
        <h2> Y soy una  <span class="auto-input"></span></h2>
            <a href="">¡Contrátame!</a>
                   
            <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
            <script> var typed = new Typed(".auto-input", {
                strings:["Estudiante.","Full Stack Developer Jr."],
                typeSpeed: 100,
                backSpeed: 100,
                loop:true
            }) 
        </script></div>
        
  
</div>
