<section id="experiencia" class="experiencia">
    
    <div class="experience seccion-clara">
    <div class="container text-center">
        <div class="row">
            <h1>EXPERIENCIA LABORAL</h1>
            <!--Inspectora-->
            <div class=" columna col-12 col-md-4">
                <img src="../../../assets/img-lomas.png" alt="logo lomas de zamora">
                <p class="experiencia-titulo">Inspectora de Tránsito</p>
                <p class="parrafo">Prevenir y hacer cesar la comisión de faltas del
                    transito peatonal y vehicular. Ser autoridad de
                    fiscalización y comprobación de infracciones, así
                    como también ordenar y dirigir el tránsito.</p>
                    <p class="fecha">Mayo 2022</p> <p class="fecha">Enero 2023</p>
                <!--<div class="fecha">
                    <p>Mayo 2022</p> <p>Enero 2023</p></div>-->
                    <!--<div class="badges-contenedor">
                    <span class="badge rounded-pill text-bg-light">Mayo 2022</span>
                    <span class="badge rounded-pill text-bg-light">Enero 2023</span>
                </div>-->

            </div>
             <!--Call center-->
             <div class="columna col-12 col-md-4">
                <img src="../../../assets/img-atento.jpg" alt="logo Atento">
                <p class="experiencia-titulo">Atención al cliente</p>
                <p class="parrafo">Operadora de soporte técnico y atención comercial. Contención y retención del usuario.
                    Venta de equipos celulares, servicios de internet,
                    televisión por cable, telefonía fija y móvil.</p>
                    <p class="fecha">Junio 2021</p> <p class="fecha">Enero 2022</p>

             </div>
              <!--Telemarketer-->
            <div class="columna col-12 col-md-4">
                <img src="../../../assets/img-alcanzo1.png" alt="logo Alcanzo">
                <p class="experiencia-titulo">Telemarketer</p>
                <p class="parrafo">Operadora de ventas telefónica para
                    portabilidad móvil.<br> Atención y contención del usuario. Utilización de e-mail marketing y atención por chat </p>
                    <p class="fecha">Enero 2021</p> <p class="fecha">Abril 2022</p>


            </div>

        </div>
    </div>
    </div>
</section>
